<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gongsi.mycoin.dao.CoinPriceMapper" >
  <resultMap id="BaseResultMap" type="com.gongsi.mycoin.entities.CoinPrice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="huobi" property="huobi" jdbcType="DECIMAL" />
    <result column="okex" property="okex" jdbcType="DECIMAL" />
    <result column="bithumb" property="bithumb" jdbcType="DECIMAL" />
    <result column="percent" property="percent" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, huobi, okex, bithumb, percent, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from coin_price
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from coin_price
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.gongsi.mycoin.entities.CoinPrice" >
    insert into coin_price (id, huobi, okex, 
      bithumb, percent, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{huobi,jdbcType=DECIMAL}, #{okex,jdbcType=DECIMAL}, 
      #{bithumb,jdbcType=DECIMAL}, #{percent,jdbcType=DECIMAL}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gongsi.mycoin.entities.CoinPrice" >
    insert into coin_price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="huobi != null" >
        huobi,
      </if>
      <if test="okex != null" >
        okex,
      </if>
      <if test="bithumb != null" >
        bithumb,
      </if>
      <if test="percent != null" >
        percent,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="huobi != null" >
        #{huobi,jdbcType=DECIMAL},
      </if>
      <if test="okex != null" >
        #{okex,jdbcType=DECIMAL},
      </if>
      <if test="bithumb != null" >
        #{bithumb,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        #{percent,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gongsi.mycoin.entities.CoinPrice" >
    update coin_price
    <set >
      <if test="huobi != null" >
        huobi = #{huobi,jdbcType=DECIMAL},
      </if>
      <if test="okex != null" >
        okex = #{okex,jdbcType=DECIMAL},
      </if>
      <if test="bithumb != null" >
        bithumb = #{bithumb,jdbcType=DECIMAL},
      </if>
      <if test="percent != null" >
        percent = #{percent,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gongsi.mycoin.entities.CoinPrice" >
    update coin_price
    set huobi = #{huobi,jdbcType=DECIMAL},
      okex = #{okex,jdbcType=DECIMAL},
      bithumb = #{bithumb,jdbcType=DECIMAL},
      percent = #{percent,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>